h1,
p {
  font-family: Lato;
}

body,
html {
  padding: 0;
  margin: 0;
}

.card-container {
  width: 90%;
  display: block;
  margin: 10px auto;
  background-color: salmon;
  padding: 20px;
  border-radius: 10px;
}

.card-container > h2 {
  margin-top: 0;
}
.container {
  max-width: 50vw;
  background-color: "blue";
}
.container-rest {
  width: 30vw;
  background-color: "red";
}
